body {
    font-family: "Trebuchet MS", sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
}

li {
    padding: 0 1em;
}

h1 {
    font-weight: 700;
}

li {
    list-style-type: none;
}

button {
    margin-top: 1em;
    padding: 1em;
    font-size: 1.5em;
    border-radius: 10px;
}

#button-div {
    text-align: center;
}

#new-quote-button {
    text-align: center;
}

#quote-div {
    background-color: #e6e6ff;
}

#quote {
    padding: 2em 0;
    text-align: center;
    font-size: 2em;
}